Sources/MinerWars.GameLib/Service References/AppCode.Networking.SectorService/Microsoft.Xna.Framework.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VRageMath" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VRageMath" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Vector3">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="X" type="xs:float" />
      <xs:element name="Y" type="xs:float" />
      <xs:element name="Z" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vector3" nillable="true" type="tns:Vector3" />
</xs:schema>