Sources/MinerWars.GameLib/Service References/AppCode.Networking.SectorService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SectorServerLIB.SectorService" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Utils" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Networking" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/VRageMath" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetGameMoney">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGameMoneyResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moneyAdded" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameMoneyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadExportInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadExportInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SectorServerLIB.SectorService" minOccurs="0" name="LoadExportInfoResult" nillable="true" type="q1:ArrayOfExportInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportGlobalData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportGlobalDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="globalData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="storyCheckpoint" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="sandboxCheckpoint" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportSector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Utils" minOccurs="0" name="sectorPosition" type="q2:MyMwcVector3Int" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Networking" minOccurs="0" name="sectorType" type="q3:MyMwcSectorTypeEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportSectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportSectorResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameVersion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SectorServerLIB.SectorService" minOccurs="0" name="LoginResult" nillable="true" type="q4:MyUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSectorIdentifiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Networking" minOccurs="0" name="sectorType" type="q5:MyMwcSectorTypeEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSectorIdentifiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Networking" minOccurs="0" name="LoadSectorIdentifiersResult" nillable="true" type="q6:ArrayOfMyMwcSectorIdentifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadUserSectorIdentifiers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadUserSectorIdentifiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Networking" minOccurs="0" name="LoadUserSectorIdentifiersResult" nillable="true" type="q7:ArrayOfMyMwcSectorIdentifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSandbox">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Networking" minOccurs="0" name="selectSandboxType" type="q8:MyMwcSelectSectorRequestTypeEnum" />
        <xs:element minOccurs="0" name="findPlayerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSandboxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Networking" minOccurs="0" name="SelectSandboxResult" nillable="true" type="q9:ArrayOfMyMwcSectorIdentifier" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Networking" minOccurs="0" name="userDetails" nillable="true" type="q10:ArrayOfMyMwcUserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCheckpoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Networking" minOccurs="0" name="sessionType" type="q11:MyMwcSectorTypeEnum" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Networking" minOccurs="0" name="sessionStartType" type="q12:MyMwcSessionStateEnum" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Utils" minOccurs="0" name="sectorPosition" nillable="true" type="q13:MyMwcVector3Int" />
        <xs:element minOccurs="0" name="checkpointName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCheckpointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadCheckpointResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadObjectGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Networking" minOccurs="0" name="sessionType" type="q14:MyMwcSectorTypeEnum" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Utils" minOccurs="0" name="sectorPosition" type="q15:MyMwcVector3Int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadObjectGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadObjectGroupsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCheckpoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkpoint" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="savePlayer" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCheckpointResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TravelToSector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Networking" minOccurs="0" name="travelType" type="q16:MyMwcTravelTypeEnum" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Utils" minOccurs="0" name="targetSector" type="q17:MyMwcVector3Int" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/VRageMath" minOccurs="0" name="currentShipPosition" type="q18:Vector3" />
        <xs:element minOccurs="0" name="currentSectorVersion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TravelToSectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TravelToSectorResult" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/VRageMath" minOccurs="0" name="newShipPosition" type="q19:Vector3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveSector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Networking" minOccurs="0" name="reason" type="q20:MyMwcLeaveSectorReasonEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveSectorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSectorObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sectorName" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Utils" minOccurs="0" name="sectorPosition" type="q21:MyMwcVector3Int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSectorObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadSectorObjectsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetActiveUsersResult" nillable="true" type="q22:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnnounceShutdown">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="timeToShutdown" type="q23:duration" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="shutdownLength" type="q24:duration" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnnounceShutdownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnnounceShutdownResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HarvestingFinished">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Networking" minOccurs="0" name="materialEnum" type="q25:MyMwcVoxelMaterialsEnum" />
        <xs:element minOccurs="0" name="voxelContentHarvested" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HarvestingFinishedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSmallShipTemplates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSmallShipTemplatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadSmallShipTemplatesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSmallShipTemplates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="smallShipTemplates" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSmallShipTemplatesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Utils" minOccurs="0" name="startSector" nillable="true" type="q26:MyMwcVector3Int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewGameResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLastCheckpoint">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLastCheckpointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadLastCheckpointResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLastCheckpoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkpointBuilder" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLastCheckpointResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSandbox">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Utils" minOccurs="0" name="sectorPosition" type="q27:MyMwcVector3Int" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="clientSectorVersion" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSandboxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadSandboxResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadStoryEditor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Utils" minOccurs="0" name="sectorPosition" type="q28:MyMwcVector3Int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadStoryEditorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadStoryEditorResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStoryEditor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sectorObjectBuilder" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStoryEditorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSandboxEditor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Utils" minOccurs="0" name="sectorPosition" type="q29:MyMwcVector3Int" />
        <xs:element minOccurs="0" name="clientSectorVersion" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSandboxEditorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadSandboxEditorResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSandboxEditor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sectorObjectBuilder" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSandboxEditorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSector">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadSectorResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Travel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Utils" minOccurs="0" name="targetSector" type="q30:MyMwcVector3Int" />
        <xs:element minOccurs="0" name="clientSectorVersion" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TravelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TravelResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSectorGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/MinerWars.CommonLIB.AppCode.Utils" minOccurs="0" name="sectorPosition" type="q31:MyMwcVector3Int" />
        <xs:element minOccurs="0" name="clientSectorVersion" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSectorGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadSectorGroupsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyShutdown">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="shutdownIn" type="q32:duration" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="shutdownLength" type="q33:duration" />
        <xs:element minOccurs="0" name="shutdownMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>